@media(max-width:1300px){
    .first-section-image{
        width: 760px;
        height: 470px;
    }
    .first-section-left-block{
        margin-top: 70px;
        margin-left: 5px;
    }
    .section-three-div{
        width: 400px;
        height: 327px;
    }
}
@media(max-width:1272px){
    .first-section-image{
        width: 740px;
        height: 440px;
    }
    .first-section-left-block{
        margin-top: 70px;
        margin-left: 5px;
    }
    .section-first-title{
        font-size: 44px;
        line-height: 60px;
    }
    .section-first-text{
        font-size: 22px;
    }
}
@media(max-width:1224px){
    .section-three-div{
        width: 380px;
        height: 307px;
    }
}
@media(max-width:1170px){
    .section-three{
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .section-three-div{
        margin-top: 40px;
    }
    .members-section{
        flex-wrap: wrap;
    }
    .members-left-block{
        margin: 0 auto;
    }
    .members-right-block{
        margin: auto;
        margin-top: 20px;
    }
}
@media(max-width:1146px){
    .first-section-image{
        width: 700px;
        height: 400px;
        margin-top: 20px;
    }
    .section-first-title{
        font-size: 38px;
        line-height: 50px;
    }
    .section-first-text{
        font-size: 20px;
        line-height: 25px;
    }
    .first-section-button{
        width: 210px;
        height: 55px;
    }
}
@media(max-width:1100px){
    .nav-li,.last-li{
        font-size: 16px;
    }
    .logo-container{
        justify-content: center;
    }
    .logo-title{
        font-size: 24px;
        margin-left: 10px;
    }
    .logo{
        width: 66px;
        height: 37px;
    }
    .nav-ul{
        justify-content: space-evenly;
    }
}
@media(max-width:1050px){
    .nav-li,.last-li{
        font-size: 15px;
    }
    .nav-ul{
        justify-content: space-evenly;
    }
}
@media(max-width:1020px){
    .navigation{
        display: none;
    }
    .bar-div{
        display: block;
        margin-right: 20px;
    }
    .logo{
        width: 60px;
        height: 31px;
    }
    .logo-title{
        font-size: 22px;
    }
}
@media(max-width:998px){
    .first-section-image{
        width: 670px;
        height: 370px;
    }
    .section-first-title{
        font-size: 33px;
        line-height: 40px;
    }
    .section-first-text{
        font-size: 18px;
        line-height: 20px;
        margin-top: 15px;
    }
    .first-section-button{
        margin-top: 30px;
    }

}
@media(max-width:955px){
    .first-section{
        height: auto;
        flex-wrap: wrap;
    }
    .first-section-image{
        max-width: 848px;
        height: 469px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
    }
    .first-section-left-block{
        margin: 0 auto;
    }
    .section-first-title{
        font-size: 55px;
        line-height: 80px;
        text-align: center;
    }
    .section-first-text{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .first-section-button{
        width: 219px;
        height: 64px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-width:780px){
    .second-section-title{
        font-size: 45px;
    }
    .second-section-text{
        font-size: 16px;
        line-height: 22px;
    }
    .members-icon{
        display: none;
    }
    .members-title{
        text-align: center;
    }
    .members-text{
        text-align: center;
    }
}
@media(max-width:760px){
    .section-first-title{
        font-size: 48px;
        line-height: 60px;
    }
    .section-first-text{
        font-size: 22px;
        line-height: 30px;
    }
    .first-section-left-block{
        height: 300px;
    }
}
@media(max-width:690px){
    .section-first-title{
        font-size: 48px;
        line-height: 60px;
    }
    .section-first-text{
        font-size: 22px;
        line-height: 30px;
    }
    .first-section-image{
        width: 620px;
        height: 420px;
    }
}
@media(max-width: 670px){
    .members-icon{
        display: none;
    }
    .members-title{
        text-align: center;
    }
    .members-text{
        text-align: center;
    }
}
@media(max-width:644px){
    .section-first-title{
        font-size: 43px;
        line-height: 50px;
    }
    .section-first-text{
        font-size: 21px;
        line-height: 28px;
    }
    .first-section-image{
        width: 600px;
        height: 400px;
    }
    .second-section-title{
        font-size: 42px;
    }
    .second-section-text{
        font-size: 14px;
        line-height: 22px;
    }
    .members-title{
        font-size: 33px;
    }
    .members-text{
        font-size: 14px;
        width: 90%;
        margin: auto;
        margin-top: 5px;
    }
}
@media(max-width:620px){
    .section-first-title{
        font-size: 40px;
        line-height: 48px;
    }
    .section-first-text{
        font-size: 21px;
        line-height: 28px;
    }
    .first-section-image{
        width: 500px;
        height: 300px;
        margin-top: 0;
    }
    .first-section-button{
        width: 210px;
        height: 58px;
    }
}
@media(max-width:600px){
    .members-right-block{
        width: 400px;
        height: auto;
    }
    .member-image{
        width: 50px;
        height: 50px;
    }
    .member-info h4 {
        font-size: 16px;
        margin-left: 10px;
    }
    .member-info p {
        font-size: 14px;
        margin-left: 10px;
    }
    .members-right-block-container{
        justify-content: center;
    }
}
@media(max-width:510px){
    .second-section-title{
        font-size: 40px;
        line-height: 50PX;
        width: 100%;
    }
    .second-section-text{
        font-size: 14px;
        width: 100%;
        line-height: 22px;
        margin-right: 5px;
        text-align: center;
    }
}
@media(max-width:490px){
    .first-section-image{
        width: 450px;
        height: 280px;
    }
}
@media(max-width:473px){
    .first-section-image{
        width: 450px;
        height: 250px;
    }
    .section-first-title{
        font-size: 35px;
        line-height: 40px;
    }
    .section-first-text{
        font-size: 18px;
        line-height: 20px;
    }
}
@media(max-width:420px){
    .logo-container{
        width: auto;
        height: auto;
    }
    .bar-div{
        width: auto;
        height: auto;
    }
    .logo-title{
        margin-left: -10px;
        font-size: 18px;
    }
    .logo{
        width: 60px;
        height: 31px;
        padding-top: 8px;
    }
    .bar{
        font-size: 22px;
    }
    .section-first-title{
        font-size: 32px;
        line-height: 40px;
    }
    .section-first-text{
        font-size: 16px;
        line-height: 20px;
    }
    .first-section-button{
        width: 200px;
        height: 55px;
    }
    .second-section-title{
        font-size: 35px;
        line-height: 40px;
    }
    .second-section-text{
        width: 370px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .first-section-image{
        width: 100%;
    }
    .members-right-block{
        width: 90%;
        height: auto;
    }
    .members-right-block-title{
        margin-left: 60px;
    }
}
@media(max-width:390px){
    .section-first-title{
        font-size: 28px;
        line-height: 35px;
    }
    .section-first-text{
        font-size: 14px;
        line-height: 20px;
    }
    .first-section-button{
        width: 200px;
        height: 50px;
    }

}