
/********** header*********/
body{
    background-color: #E5E5E5;
}
.header{
    max-width: 1328px;
    height: 43px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    width: 281px;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.header-parent{
    width:1270px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-title{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #303031;
    line-height: 43px;
    font-family: 'Fjalla One', sans-serif;
}
.navigation{
    width: 650px;
    height: 24px;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
}
.nav-li{
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #303031;
    font-family: 'Poppins', sans-serif;
}
.last-li{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color:  #71A894;
    font-family: 'Poppins', sans-serif;
}
.bar-div{
    display: none;
}
.bar{
    font-size: 25px;
}

/********** section first*********/
.first-section{
    max-width: 1390px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.first-section-left-block{
    width: 620px;
    height: 352px;
    margin-top: 100px;
}
.section-first-title{
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
}
.section-first-text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #66645E;
    margin-top: 24px;
}
.first-section-button{
    width: 219px;
    height: 64px;
    margin-top: 40px;
    color: white;
    background-color: #71A894;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
}


/********** section-second*********/
.second-section{
    max-width: 910px;
    margin: 0 auto;
    margin-top: 150px;
}
.second-section-title{
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.second-section-text{
    color: #303031;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/********** section three*********/
.section-three{
    max-width: 1328px;
    height: 340px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.section-three-div{
    width: 427px;
    height: 340px;
    background-color: white;
}
.icon{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 64px;
}
.section-three-title{
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    margin-top: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.section-three-text{
    color: #303031;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 26px;
    margin-top: 16px;
}
/********** members section*********/

.members-section{
    max-width: 1270px;
    height: auto;
    margin: auto;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.members-left-block{
    width: 644px;
    height: auto;
    margin-top: 48px;
}
.members-title{
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    font-family: 'Poppins', sans-serif;
}
.members-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 24px;
}
.members-right-block{
    width:484px ;
    height: 400px;
    border-radius: 16px;
    box-shadow: 10px 15px #71A894;
    border: 4px solid #303031;
}

.members-right-block-title{
    margin-left: 40px;
    margin-top: 32px;
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}
.members-right-block-container{
    width: 241px;
    height: 77px;
    margin-top: 27px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-image{
    border-radius: 50%;
}
.member-info{
    width: 154px;
    height: 56px;
}
.member-info h4{
    color: #303031;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}
.member-info p{
    color: #66645E;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    margin-top: 4px;
}

/**********second members section*********/
.second-members-section{
    max-width: 1270px;
    height: auto;
    margin: auto;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.second-members-left-block{
    width: 644px;
    height: 334px;
    margin-top: 77px;
}
.second-members-left-block h3{
    margin-top: 24px;
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
}
.second-members-left-block p{
    color: #303031;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}
.second-section-right-block{
    width: 644px;
    height: auto;
    margin-top: 30px;
}
.second-section-text-container{
    max-width: 560px;
    height: 164px;
    margin: auto;
}
.second-section-text-container h3{
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: 24px;
    margin-top: 28px;
}
.second-section-text-container p{
    color: #303031;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    width: 404px;
    margin-left: 24px;
    margin-top: 16px;
    border: 2px solid black;
    border-radius: 10px;
}
.second-section-members{
    width: 381px;
    height: auto;
    margin-top: 24px;
    margin-left: 64px;
    border-radius: 10px;
    margin-top: -10px;
    border: 4px solid #303031;
}
.second-section-members p{
    padding-top: 32px;
    padding-left: 40px;
    color: #303031;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}
.second-member-info{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.footer{
    max-width: 1328px;
    height: 43px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    color: #303031;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}
.footer-li{
    margin-left: 40px;
    color: #303031;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}

.footer-ul{
    display: flex;
}